@import "tailwindcss";

@theme {
  --font-logo: "Asem Kandis", sans-serif;
  --font-sans: "Startup", sans-serif;
}

@font-face {
  font-family: "Asem Kandis";
  src: url("/font/Asem-Kandis.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Startup";
  src: url("/font/Startup-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Startup";
  src: url("/font/Startup-Extralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Startup";
  src: url("/font/Startup-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Startup";
  src: url("/font/Startup-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Startup";
  src: url("/font/Startup-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Startup";
  src: url("/font/Startup-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Startup";
  src: url("/font/Startup-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Startup";
  src: url("/font/Startup-Extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Startup";
  src: url("/font/Startup-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  background-color: #020408;
  color: #ffffff;
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Glassmorphism */
.glass-panel {
  background: rgba(127, 129, 134, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(56, 189, 248, 0.15);
}
